
.event-box{
    width: 1010px;
    height: 400px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    
}
.event-box img{
    width: 1010px;
    height: 360px;
}

.event-caption h3 {
    color:black;
    font-weight:700;
    font-size:24px;
    margin-bottom:5px;
    margin-top: 10px;   
}
.event-caption p{
    color:#444444;
    font-size:15px;
    margin-bottom:12px
}

*{
    margin:0;
    padding:0;
    font-size:15px; 
    line-height:1.3;
  }
  ul{
      list-style:none;
    }
  
  .event-tab{ 
    margin: 0 auto;
    margin-left: 400px; 
    margin-top: 70px;
    position:relative; 
  }
  
  .event-tab ul li{
    display:  inline-block;
    width:33.33%; 
    
    text-align:center;
    line-height:40px;
  }
  .event-tab label{
    display:block;
    width:100%; 
    height:40px;
    line-height:40px;
  }
  .event-tab input{
      display:none;
    }
  .tabCon{
    display:none; 
    text-align:left; 
    position:absolute; 
    left:0; top:40px; 
    box-sizing: border-box; 
  }
  .label:hover {
    color: #2AC1BC;
    cursor: pointer;
  }
  .event-tab input:checked ~ label{
    color: #2AC1BC;
    border-bottom: 1px solid #ffffff;
  }
  .event-tab input:checked ~ .tabCon{
    display:block;
  }
  .tab2 img{
    filter: grayscale 70%;
  }
  


/* header */
.header-area .main-header{padding:0px 120px}
@media only screen and (min-width: 1200px) and (max-width: 1600px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 992px) and (max-width: 1199px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 768px) and (max-width: 991px){.header-area .main-header{padding:22px 0px}}
@media only screen and (min-width: 576px) and (max-width: 767px){.header-area .main-header{padding:22px 0px}}
@media (max-width: 575px){.header-area .main-header{padding:22px 0px}}
.header-area .main-header .menu-wrapper{display:flex;align-content:center;justify-content:space-between;flex-wrap:wrap;align-items:center;}
.header-area .main-header .menu-wrapper .main-menu ul li{display:inline-block;position:relative;z-index:1}
.header-area .main-header .menu-wrapper .main-menu ul li a{font-size:16px;font-family:"Josefin Sans",sans-serif;color:#141517;font-weight:600;padding:41px 21px;display:inline-block;text-transform:capitalize;display:block;-webkit-transition:all .3s ease-out 0s;-moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;text-decoration: none;}
.header-area{display:block;position:fixed;z-index: 500;background: #fafafa;top:0; left: 0;right: 0;border-bottom: #ecedef solid 1px;}
/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a{color:#2AC1BC;text-decoration: none;}

/* profile ul sort */
ul{list-style:none;margin:0;padding:0}

.links {
    position: absolute;
    top: 0;
    right: 0;
}
.link_text {
    font-size: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: #888;
}
.navigation{
    display: flex;
}