.mypage-sidebar ul{
    list-style: none;
    padding-left: 0px;
    color: black;
    margin-top: 10px;
    margin-bottom: 40px;
}
.mypage-sidebar li{
  color: black;
  list-style: none;
  font-size: 15px;
}
.mypage-sidebar{
  margin-top: 50px;
}
.mypage-sidebar h5{
 color: #385663;
}


.mypage-subtitle {
  margin-top: 50px;
}

.profile-box {
  width: 300px;
  height: 160px;
  display: flex;
  border: 1px solid #bbb;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  
}
.profile-pic {
    margin-left: 10px;
    width: 130px;
    height: 130px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}
.profile-box p{
    margin-left: 20px;
    line-height: 10px;
}
.profile-box h4{
    margin-left: 20px;
}
.main h3{
  color: #385663;
}
